.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.song .ion-play, .song .ion-pause {
  display: none;
}

.song:hover .ion-play {
  display: block;
}

.song:hover .song-number{
  display: none;
}

.song.playing .ion-pause{
  display: block;  
}

.song.playing .song-number, .song.playing .ion-play {
  display: none;
}

.song.paused .ion-play {
  display: block;
}

.song.paused .song-number, .song.paused .ion-pause {
  display: none;
}