body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(rgb(17,19,35), rgb(7,8,16));
  color: white;
}

header {
  background-color: #010106d6; 
  color: white;
  height: 90px;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
  min-width: 720px;
}

.player-bar {
  background-color: #010106d6;
  color: white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 10px;
  min-width: 720px;
}

button {
  background-color: #f15a24;
  border: solid;
  border-color: #f15a24;
  border-width: 1px;
  padding: 2px;
}

button:hover {
  background-color:rgb(7,8,16);
  color: #f15a24;
}

.player-bar button {
  margin: 1px;
  width: 30px;
  border-radius: 4px;
}

#buttons {
  width: 96px;
  margin: auto;
  /* display: inline-block; */
}

h1 {
  margin: 0;
  font-size: 3em;
}

nav {
  padding: 0, 10px;
}

a {
  color: #f15a24;
  font-weight: bold;
  text-decoration: none;
  padding: 0, 10px;
}

table {
  margin: auto;
  color: white;
  /* width: 100%; */
}

td {
  border:solid;
  border-color: black;
  background-color: #0000007a;
}

.current-time {
  display: inline-block;
}

.total-time {
  display: inline-block;
}

.icon {
  display: inline-block;
}

#time-control {
  width: 60%;
  margin: auto;
  position: center;
}

#time-control .seek-bar{
  width: 75%;
}

#volume-control {
  width: 180px;
  /* display: inline-block; */
  float: left;
}

#volume-control .seek-bar{
  width: 60%;
}

#cover-art{
  float: right;
  width: 35px;
  display: inline-block;
}

#cover-art img{
  width: 100%;
}